@charset "utf-8";

html {
  font-size: 10px;
}

/* 여백초기화 */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* 테이블 선 중첩 */
table {
  border-collapse: collapse;
  width: 100%;
}


/* 하이퍼링크 초기화 */
a {
  text-decoration: none;
  color: #000;
}

/* 목록스타일 초기화 */
ol,
ul {
  list-style: none;
}

/* 글자 기울임 초기화 */
address,
em,
i {
  font-style: normal;
}

/* body 초기화 */
body {
  line-height: 1.5;
  font-size: 100%;
  color: #000;
}